.border{
    /* border: 2px solid red; */
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Apply custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #1a1a1a; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #444; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded edges */
    border: 2px solid #1a1a1a; /* Adds padding to match the track background */
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Same as scrollbar track background */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #444 #1a1a1a; /* Thumb color and track background */
}
